@model FirstProject.Models.GuestResponse

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Thank You!</title>
</head>

<body class="text-center">
    <div>
        <h1>Thank You, @Model.Name! </h1>
        @if (Model?.WillAttend == true)
        {
            @:it is great that you are coming. the drinks are already in the fridge.

        }
        else
        {
            @:we are sorry that you can't make it. we will miss you.
        }
    </div>
    Click <a asp-action="ListResponses">here</a> to see who is attending.
</body>

</html>
